@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/*@import url('https://fonts.googleapis.com/css?family=Padauk&display=swap');*/
*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.overall-container-mount{
    display: flex;
    width: 100%;
    min-height: 100%;
    /*max-height: auto;*/
    background-color: #d8d8d8;
    clear: both;
}
.overall-container-mount2{
    width: 100%;
    height: 117vh;
    background-color: #f1f1f1;
}
.overall-container-mount3{
    display: flex;
    width: 100%;
    /*height: 132vh;*/
    min-height: 100%;
    max-height: 100%;
    background-color: #d8d8d8;
    /*background-color: darkgray;*/
    /*background:linear-gradient(to bottom,darkgray,#eaeaea);*/
    clear: both;
}
@media only screen and (min-height: 100vh){
    .overall-container-mount3{
        height: auto;
    }
}
@media only screen and (max-width: 600px){
    .overall-container-mount3{
        width: 100%;
        min-width: fit-content;
    }
}

html,body {

    height:100%;
    padding:0;
    margin:0;
}
button[type="button"]:focus{

    box-shadow: none;
}
.sidebar-nb-mount{
    position: relative;
    width: 10%;
    height: auto;
    background-color: #fff;
    margin: 0 !important;
    padding: 0;
    float: left;
    /*overflow-y: scroll;*/
    /*overflow: auto;*/
}
/*.scrolled-content-wrapper {*/
/*    position:absolute;*/
/*    width:100%;*/
/*    height:100vh;*/
/*    overflow-y:scroll;*/
/*    z-index:100;*/
/*}*/
@media only screen and (max-width: 600px) {
    .sidebar-nb-mount{
        width: 100%;
        display: inline;
    }
}
@media only screen and (max-width: 600px) {
    .container-nb-mount{
        width: 100%;
        min-width: 100vmin;
        /*display: inline;*/
    }
}
@media only screen and (max-width: 600px) {
    .top-box-mount{
        width: 100%;
        height: 200px!important;
    }
}
.top-box-mount .btnzz .dropdown-toggle::after {
    display: none !important;
}
.btn-mount .dropdown-toggle::after{
    display: none !important;
}
button.fontsize-mount{
    font-size: 14px;
}
.fontsize-mount{
    font-size: 15px;
    font-family: 'Roboto',sans-serif !important;
    font-family: 'Padauk', sans-serif;
}
.fontsize-mount6{
    font-size: 16px;
    font-family: 'Roboto',sans-serif!important;
}
.fontsize-mount17{
    font-size: 17px!important;

    font-family: 'Roboto',sans-serif!important;
}
.fontsize-mount18{
    font-size: 18px;
    font-family: 'Roboto',sans-serif!important;
}
.fontsize-mount2{
    font-size: 14px !important;
    font-weight:500;
    font-family: 'Roboto',sans-serif!important;
}
.fontsize-mount22{
    font-size: 14px !important;
    font-family: 'Roboto',sans-serif!important;
}
.fontsize-mount3{
    font-size: 13px !important;
    font-family: 'Roboto',sans-serif !important;
    /*font-family: 'Padauk', sans-serif;*/
}
.fontsize-mount4{
    font-size: 14px;
    font-weight:600;
    font-family: 'Roboto',sans-serif;
    /*font-family: 'Padauk', sans-serif!important;*/
}
.fontsize-mount44{
    font-size: 21px;
    color: #555;
    line-height: 0.8;
    font-family: 'Roboto', sans-serif;
}
.fs-40{
    font-size: 40px;
}
.sidebar-box-mount{
    color:#888;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
}
.sidebar-box-mount:hover{
    color: white;
    /*background: linear-gradient(#fa8344,#f64772);
    border-radius: 7px;*/
}
.btn-mount{
    height: 99px;
    width: 95px;
    margin-bottom: 18px;
}
/*.active,.btn-mount:active{
   background: linear-gradient( to bottom right,#f98244,#f64772);
   box-shadow: 3px 3px 7px #f6477286,2px 2px 6px #aaa;
   color: white;
   border-radius: 10px;
  }*/
.btn-mount:hover,.active2{
    box-shadow: 2px 2px 7px #f6477286,2px 2px 9px #aaa;

    background: linear-gradient( to bottom right,#f98244,#f64772);
    color: white !important;
    border-radius: 10px;

}
.cursor-mount {
    cursor: pointer;
}

.container-nb-mount{
    width: 86%;
    height: 100%;
    padding-left: 20px;
    margin-left: 20px;
    padding-bottom: 30px;
    float: left;
    /*padding-top: 28px;*/
    position: relative;

}
input[type="text"]:focus{
    box-shadow: none;
    outline: none;
}

input[type="text"]{
    color: #6c757d!important;
}
input[type="email"]{
    color: #6c757d!important;
}
textarea[type="text"]{
    color: #6c757d !important;
}
textarea[type="text"]:focus{
    outline: none !important;
    box-shadow: none;
}
.mount-input select{
    color: #6c757d;
}
.mount-input2 select{
    color: #6c757d;
}
input:focus{
    outline: none;
}
.row-col-p{
    /*width: 20%;*/
    margin-top: 20px;
    height: 30px;
    /*border-bottom: 5px solid #666;*/
}
.row-col-p2{
    margin-top: 20px;
    /*width: 24%;*/
    height: 30px;
    /*border-bottom: 1px solid #888;*/
}

.top-box-mount{
    background-color: #FFF;
    /*border-radius: 7px;*/
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    height: 78px;
    width: 100%;
}
.border-top-radius-mount{
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}
.border-bottom-radius-mount{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.border-tab-radius-mount{
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.bs-mount{
    box-shadow: 2px 2px 5px #f6477286,1px 1px 3px #aaa;
}
.btn-nb-mount{
    background: linear-gradient( to bottom right,#f98244,#f64782);
    height: 36px;
    color: #fff !important;
    border-radius: 8px !important;
    box-shadow: 2px 2px 5px #f6477286,1px 1px 3px #aaa;

}
.btn-nb-mount-filter{
    background: linear-gradient( to bottom right,#f98244,#f64782);
    /*height: 36px;*/
    color: #fff !important;
    /*border-radius: 8px !important;*/
    box-shadow: 1px 1px 3px #aaa;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-top: -1px;
    margin-bottom: -1px;
}
.text-asdf{
    color: #f98244 !important;
}
.btn-nb-mount2{
    background: linear-gradient( to bottom right,#f98244,#f64782);
    height: 33px;
    color: #fff !important;
    border-radius: 8px !important;
    /*box-shadow: 2px 2px 5px #f6477286,1px 1px 3px #aaa;*/

}
.text-color-mount123{
    background: linear-gradient( to bottom right,#f98244,#f64782);

    color: #fff !important;
    border-radius: 8px !important;
    box-shadow: 2px 2px 5px #f6477286,1px 1px 3px #aaa;

}
.btn-nb-mount-save{

    margin: auto 50px;
    background: linear-gradient( to bottom right,#f98244,#f64782);
    height: 40px;
    color: #fff !important;
    box-shadow: 2px 2px 5px #f6477286,1px 1px 3px #aaa;
    border-radius: 8px !important;
}
.btn-nb-mount-save:hover{

    transform: scale(1.02);
}
.btn-dropdown-mount{
    /*background-color: #fff !important;*/
    color: #444 !important;
    /*border-radius: 8px !important;
    box-shadow: 2px 2px 4px #bbbbbb;
    border: 1px solid #dbdbdb !important;*/
}
.btn-nb-mount:hover{
    background-color: #f9f9f9 !important;

    transform: scale(1.02);
}
.text-nb-mount{
    color: #444;
}
.text-a-mount{
    color: #444;
    outline: none;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Roboto',sans-serif;
}
.text-a-mount:hover{
    color: #111;
    outline: none;
    text-decoration: none;
    /*font-size: 18px;*/

}
.text-color-mount2{
    color: #666 !important;
    font-weight: 600 !important;
}
.sb-text{
    position: relative;
    padding-top: 70px;
    padding-bottom: 12px;
    text-align: center;
}
.img-member{

    background-image: url("../image/icons8-membership-card-55 (1).png");
    /*background-image: {{asset("/images/background.jpg")}};*/
    width: 100%;
    height: 80%;
    background-clip: padding-box;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 10px;

}
.img-member:hover,.active-m{
    background-image: url("../image/icons8-membership-card-55(fff).png") ;
    width: 100%;
    height: 80%;
    color: white;
    background-clip: padding-box;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 10px;
}

.img-pos{

    background-image: url("../image/icons8-pos-terminal-55-2.png") ;
    width: 100%;
    height: 80%;
    background-clip: padding-box;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 10px;

}
.img-pos:hover,.active-pos{
    background-image: url("../image/icons8-pos-terminal-55.png") ;
    width: 100%;
    height: 80%;
    color: white;
    background-clip: padding-box;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 10px;
}
/*.img-pos:hover{
	background-image: url("https://img.icons8.com/dotty/55/FFFFFF/pos-terminal.png") ;
	width: 100%;
	height: 80%;
	background-clip: padding-box;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 10px;
}*/
.img-non-member{

    background-image: url("../image/icons8-pos-terminal-55.png") ;
    width: 100%;
    height: 80%;
    background-clip: padding-box;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 10px;

}
.img-non-member:hover,.active-nm{
    background-image: url("../image/icons8-pos-terminal-55-2.png") !important;
    width: 100%;
    height: 80%;
    color: white;
    background-clip: padding-box;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 10px;
}

.img-sale-record{

    background-image: url("../image/icons8-us-dollar-50 (1).png") ;
    width: 100%;
    height: 80%;
    background-clip: padding-box;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 10px;

}
.img-sale-record:hover,.active-sr{
    background-image: url("../image/icons8-us-dollar-50(FFF).png") ;
    width: 100%;
    height: 80%;
    color: white;
    background-clip: padding-box;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 10px;
}

.img-stock-inventory{

    background-image: url("../image/safe.png") ;
    width: 100%;
    height: 80%;
    background-clip: padding-box;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 10px;

}
.img-stock-inventory:hover,.active-si{
    background-image: url("../image/safe (ffffff).png") ;
    width: 100%;
    height: 80%;
    color: white;
    background-clip: padding-box;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 10px;
}
.img-staff{

    background-image: url("../image/icons8-manager-55 (1).png") ;
    width: 100%;
    height: 80%;
    background-clip: padding-box;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 10px;

}
.img-staff:hover,.active-staff{
    background-image: url("../image/icons8-manager-55(fff).png") ;
    width: 100%;
    height: 80%;
    color: white;
    background-clip: padding-box;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 10px;
}
.img-group{
    /*<img src="https://img.icons8.com/dotty/80/000000/banknotes.png">*/
    background-image: url("../image/banknotes.png") ;
    width: 100%;
    height: 80%;
    background-clip: padding-box;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 10px;

}
.img-group:hover,.active-group{
    background-image: url("../image/banknotes (fff).png") ;
    width: 100%;
    height: 80%;
    color: white;
    background-clip: padding-box;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 10px;
}
.img-daily{
    /*<img src="https://img.icons8.com/carbon-copy/100/000000/banknotes.png">*/
    background-image: url("../image/daily-currency.png") ;
    width: 100%;
    height: 80%;
    background-clip: padding-box;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 10px;

}
.img-daily:hover,.active-daily{
    background-image: url("../image/daily-currency(fff).png") ;
    width: 100%;
    height: 80%;
    color: white;
    background-clip: padding-box;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 10px;
}
.text-color-mount{
    color: #555 !important;
}
.text-color-mount1235{
    color: #333333 !important;
}
.text-rates-mount{
    font-size: 15px;
    color: #333;
    width: 50px;
    padding-left: 5px;
    text-align: left;
}
.box-shadow-mount{
    box-shadow: 2px 2px 4px  #aaaaaa;
}
.box-shadow-mount2{
    box-shadow: 3px 3px 7px  #bbbbbb,-3px -3px 6px #bbbbbb;
}
.box-shadow-mount{
    box-shadow: 3px 3px 7px  #aaaaaa;
}
.rounded-table-mount{
    border-radius: 10px;
}
.btr-mount{
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
}
.table-row-m{
    vertical-align: middle !important;
    /*padding: .5rem !important;*/
}
.x-button-mount{
    position: absolute;
    top: 9px;
    right: 0px;
}
.x-button-mount:focus{
    box-shadow: none;
    text-decoration: none;
    text-shadow: none;
}
.mount-label{
    display: inline;
    width: 200px;
    text-align: right;
}

.mount-input{
    display: inline !important;
    width: 300px !important;
    position: absolute;
    right: 0;
}
.mount-input2{
    display: inline !important;
    width: 230px !important;
    position: absolute;
    right: 0;
}
.mount-input3{
    display: inline !important;
    width: 220px !important;
    position: absolute;
    right: 20px;
}
.mount-input4{
    display: inline-block !important;
    width: 220px !important;
    position: relative;
    /*left: 50px;*/
    right: 0px;
}
.mount-input5{
    display: block !important;
    width: 220px !important;


}
.m-button{
    display: flex;
    justify-content: flex-end;
    padding: 0px;
}


.btn-m{
    box-shadow: none;outline: none;
}
.button-nb-mount{
    float: right;
    background: #ddd;
    border: 1px solid #ddd;
    cursor: pointer;
    height: 39px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.button-input-search-mount{
    border: 1px solid #eee;
    height: 39px;

    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.button-input-search-mount::placeholder{
    padding-left: 7px;
}

.form-nb-p{
    display: inline-block !important;
    margin-left: 20px;
    width: 60%!important;
    border-bottom: 1px solid #ddd;
}
.sr-p-mount{
    position: absolute;
    bottom:15px;
    right: 47px;
    font-size: 20px;
    font-weight: 500;
}
.div-p-mount2{
    position: absolute;
    bottom:17px;
    right: 47%;
    color: #444;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Roboto',sans-serif;
}
.modal-title-bg{
    background: linear-gradient( to bottom right,#f98244,#f64772);
    color: white !important;
}
.bd-bottom-mount{
    border-bottom: 1px solid #ced4da;
}
li .dropdown-menu.show{
    position: absolute !important;
    left: -16px!important;
    box-shadow: 2px 2px 4px #999999;
}
.dp-mount{
    width: 140px !important;
    min-width: 140px !important;
}
.del-mount{
    color:#007bff;
    text-decoration: none;
    outline: none;
}
.del-mount:hover{
    color: red !important;
    text-decoration: none;
    outline: none;
}
.input-name{
    background-color: #eeeeee;
    border-radius: 8px;
    height: 29px;
}

.col-item {

    border: 1px solid #eeeeee;
    /*border-width: 50px;*/
    background-color: #fdfdfd;
    border-radius: 25px;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    vertical-align: middle;

    height: 50px;
    box-shadow: 2px 2px 3px #cccccc;
}
.col-item2 {

    border: 1px solid #eeeeee;
    /*border-width: 50px;*/
    background-color: #fdfdfd;
    border-radius: 25px 25px 25px 25px;
    padding: 10px;
    /*margin-right: 10px;*/
    margin-left: 10px;
    text-align: center;
    vertical-align: middle;
    height: 50px;
    box-shadow: -2px 2px 3px #cccccc;
}
.col-item-mini{
    background-color: #FDFDFD;
    border: 1px solid #eeeeee;
    border-radius: 25px 25px 25px 25px;
    padding: 13px 0px;
    margin-right: 5px;
    /*margin-left: 5px;*/
    margin-bottom: 5px;
    text-align: center;
    vertical-align: middle;
    height: 50px;
    box-shadow: 2px 2px 3px #aaaaaa;

}
.col-item-mini input::placeholder{
    color: #555;

}
.text-box-mount{
    width: 100%;
    border: none;
    background-color: transparent;
    /*color: #111111!important;*/
}
.col-item input[type="text"]{
    color: #6c757d!important;
}
.col-item input[type="text"]::placeholder{
    color: #6c757d!important;
}
.col-item2 input[type="text"]{
    color: #6c757d!important;
}
.col-item2 input[type="text"]::placeholder{
    color: #6c757d!important;
}
.col-item-mini input[type="text"]{
    color: #6c757d!important;
}
.col-item-mini input[type="text"]::placeholder{
    color: #6c757d!important;
}


/*select:active,select:hover,select:focus{*/
/*    box-shadow: none;*/
/*    outline: transparent;*/
/*}*/
.bootstrap-select .dropdown-menu {
    border-radius: 5px !important;

    box-shadow: 2px 2px 4px  #ccc,-2px 0px 4px #ccc;
}
.bootstrap-select > .dropdown-toggle {
    border: none;
    background-color: #FFFFFF!important;
    font-size: 15px;

}
.bootstrap-select > .dropdown-toggle:hover{
     background-color: #f8f8f8!important;
    border-radius: 5px;
 }

.fs-select .bootstrap-select > .dropdown-toggle {
    border: none;

    font-size: 17px;
}
.fs-select2 .bootstrap-select > .dropdown-toggle {
    border: none;

    font-size: 14px;
}
.fs-select3 .bootstrap-select > .dropdown-toggle {
    border: none;

    font-size: 15px;
}
.fs-select4 .bootstrap-select > .dropdown-toggle {
    border: none;
    color: #666666;
    font-size: 15px;
}
.fs-select5 .bootstrap-select > .dropdown-toggle {
    border: none;
    padding-top: 0;
    padding-bottom: 0;
    color: #777777;
    font-size: 15px;
}
.bootstrap-select .dropdown-menu li a{
    font-size: 15px;
}
.collap-menu-mount{
    box-shadow: 0px 0px 18px #888888 inset;
    background-color:#f6f6f6;
    width: 100%;
}
.collap-mount:hover{
    background-color: transparent;
    /*box-shadow: -0px -0px 12px #777777 inset;*/
}
.__mm{
    font-size: 1rem!important;
    /*font-family: 'Roboto', sans-serif!important;*/
    /*font-weight: 500!important;*/
    /*color:#000000;*/
}
.dtpick-input{
    width: 20%;
    background-color: #eeeeee;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    /*box-shadow: -2px 2px 6px #111111;*/
    box-shadow: -1px 1px 3px #aaa;
}
.margin-left-mount{
    margin-left: -4px!important;
}
.text-shadow-mount{
    text-shadow:1px 1px 0 #fff;
}
.plus-btn-mount{
    color:#777;font-size: 13px;
}
.padding-top-mount{
    /*padding-top: 28px!important;*/
}
.total-text-mount{
    color: #444;
    font-size: 16px;
    font-weight: 600;
}
.add-input-select{
    /*padding-right: 27px;*/
}
.pad-l{
    padding-left: 9px;
}
input[type="text"].for-placeholder::placeholder{
    color: #999999;
}
